a {
  text-decoration: none;
}

.h2 {
  color: #353535;
  font-weight: 500;
  font-size: 56px;
  @media (max-width: 1536px) {
    font-size: 36px;
  }
}
.h2-lg {
  color: #353535;
  font-weight: 500;
  font-size: 56px;
  @media (max-width: 1280px) {
    font-size: 36px;
  }
}
